<p>product-container works!</p>
<div class="container">
  <div class="row row-cols-5 g-5">
    <div class="col g-5">
        <app-product [product]="chocolatecake"></app-product>
    </div>
    <div class="col g-5">
        <app-product [product]="vanilacake"></app-product>
    </div>
    <div class="col g-5">
        <app-product [product]="vanilacake"></app-product>
    </div>
    <div class="col g-5">
        <app-product [product]="vanilacake"></app-product>
    </div>
    <div class="col g-5">
        <app-product [product]="vanilacake"></app-product>
    </div>
    <div class="col g-5">
        <app-product [product]="vanilacake"></app-product>
    </div>
    
    
  </div>
</div>